language: objective-c
osx_image: xcode9.4
cache:
  directories:
    - ~/.npm

jobs:
  include:
    - stage: publish
      script:
        - npm install -g npm@latest
        - npm ci
        - npx expo login -u $EXPO_USERNAME -p $EXPO_PASSWORD
        - npx expo publish --non-interactive
    - stage: deploy
      env:
        - SHELL_APP_BUILDER=1
        - EXPO_PUBLISH_URL=https://exp.host/@iilab/mobile
      script:
        # - | # Build xdl
        #   cd $HOME && \
        #   git clone https://github.com/expo/xdl.git && \
        #   cd xdl && \
        #   yarn && \
        #   gulp build && \
        #   cp `npm pack` xdl-packaged.tgz
        - |
          echo "Install build dependencies" && \
          npm install gulp-cli -g && \
          gem install cocoapods --no-ri --no-rdoc && \
          echo "Install expo fork" && \
          cd $HOME && \
          git clone https://github.com/iilab/expo.git && \
          cd expo/tools-public && \
          npm ci && \
          echo "Building iOS archive" && \
          gulp ios-shell-app --action build --type archive --configuration Release && \
          echo "Configuring iOS archive" && \
          gulp ios-shell-app --url $EXPO_PUBLISH_URL \
                             --action configure \
                             --type archive \
                             --archivePath shellAppBase-archive/ExpoKitApp.xcarchive/Products/Applications/ExpoKitApp.app \
                             --sdkVersion 30 \
                             --output $HOME/Mobile.xcarchive && \
          cd $TRAVIS_BUILD_DIR && \
          bundle install && \
          echo "Setup signing with fastlane match" && \
          fastlane match adhoc --readonly && \
          echo "Generate signed ipa from iOS archive" && \
          fastlane ipasign archive_path:$HOME/Mobile.xcarchive && \
          ls -la . && \
          ls -la fastlane
